@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700);

body {
    font-family: 'Open Sans', 'Helvetica', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

@page {

    @bottom-left {
        content: element(footer);
        vertical-align: top;
        padding-top: 10px;
    }

    @top-left {
        content: element(header);
        vertical-align: bottom;
        padding-bottom: 10px;
    }

    margin-top: 3.3cm;
    margin-left: 1cm;
    margin-right: 2cm;
    margin-bottom: 3.3cm;

    size: auto;
}

.page-break {
    page-break-after: always;
}

.next-page {
    page-break-before: always
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}

div.header {
    position: running(header);
}

.logo {
    text-align: left;
    width: 125px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.block {
    height: 100px;
}

.bottom {
    vertical-align: bottom;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

hr {
    background-color: #000000;
    height: 0.5px;
}

table {
    width: 100%;
}

table tr.heading td {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    text-align: center;
}

table tr.item td {
    border-bottom: 1px solid #eee;
    text-align: center;
}

table tr.item td {
    border-bottom: 1px solid #eee;
    text-align: center;
}

table tr.item.last td {
    border-bottom: none;
}

.subtotal {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-spacing: 15px;
    border-top: 2px dot-dash #eee;
}

.generated-by {
    font-size: 10px;
    text-align: right;
}