<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <link media="all" rel="stylesheet" th:href="@{classpath:templates/style.css}" type="text/css"/>
    <title></title>
</head>
<body>
<div class="header" th:insert="header.html :: header"></div>
<h1 style="text-align: center">Comprobante de Validación</h1>
<div>
    <table>
        <tr class="block">
            <td class="bottom" th:insert="beneficiary.html :: beneficiary"></td>
            <td class="bottom right">
                <span style="font-size: 16px;">Validación</span><br/>
                <strong>#[[${data.getId()}]]</strong><br/>
                <strong><span>[[${data.getStatus().getName()}]]</span></strong><span
                    th:text="${data.getAudited()} ? ' (Auditado)' : ''"></span><br/>
                <span>[[${#temporals.format(data.getCreatedAt(), 'dd/MM/yyyy HH:mm')}]]</span><br/>
                <strong>[[${data.getMedicalCenter().getName()}]]</strong><br/>
                <span>[[${data.getCity().getName()}]], [[${data.getCity().getProvince().getName()}]]</span><br/>
            </td>
        </tr>
        <tr class="block">
            <td class="bottom" th:insert="practitioner.html :: practitioner"></td>
            <td class="bottom right" th:insert="petitioner.html :: petitioner"></td>
        </tr>
    </table>
    <hr>
</div>
<h2>Detalle</h2>
<table>
    <tr>
        <td colspan="4">
            <table>
                <tr class="heading">
                    <td>
                        Práctica
                    </td>
                    <td>
                        Cantidad
                    </td>
                    <td>
                        Valor de Coseguro
                    </td>
                    <td>
                        Subtotal
                    </td>
                </tr>
                <tr class="item" th:each="item :${data.getMedicalAuthorizationItems()}">
                    <td style="max-width: 150px">
                        ([[${item.getNomenclator().getNomenclatorCode()}]])
                        [[${item.getNomenclator().getMedicalPractice().getName()}]]
                    </td>
                    <td>
                        [[${item.getQuantity()}]]
                    </td>
                    <td>
                        $[[${item.getChargeUnitPrice()}]]
                    </td>
                    <td>
                        $[[${item.getChargeSubtotal()}]]
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="right">
        <td>
            <h2 class="subtotal">Total: <strong>$[[${data.getChargeTotal()}]]</strong></h2>
        </td>
    </tr>
</table>
<span style="font-style: italic; font-size: 12px"
      th:if="${data.getBeneficiary().getPaymentMethod().getName() != 'Voluntario'}">
    IMPORTANTE: El total de coseguros le será descontado al afiliado por <strong>RECIBO DE SUELDO</strong> y no se le deberá cobrar un adicional en consultorio.
</span>
</body>
</html>